@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav_container
	{
		margin-right: 121px;
	}
	.footer_blog_content
	{
		padding-left: 74px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav_container
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.sidebar_col
	{
		margin-top: 105px;
	}
	.footer_column
	{
		margin-bottom: 60px;
	}
	.footer_column:last-child
	{
		margin-bottom: 0px;
	}
	.copyright
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.copyright_content
	{
		height: auto;
		margin-top: 15px;
	}
	.footer_nav_container
	{
		height: auto;
	}
	.footer_nav_item
	{
		display: block;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.home_title
	{
		font-size: 48px;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p{font-size: 13px;}
	h1{font-size: 28px;}
	.button
	{
		height: 44px;
		border-radius: 22px;
	}
	.button a
	{
		line-height: 44px;
		padding-left: 36px;
		padding-right: 36px;
	}
	.logo a img
	{
		width: 24px;
	}
	.logo a
	{
		font-size: 24px;
	}
	.main_nav_col
	{
		height: 60px;
	}
	.header.scrolled .main_nav_col
	{
		height: 60px;
	}
	.logo_container
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.content_search
	{
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
	.header.scrolled .content_search
	{
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
	.hamburger
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.logo a
	{
		font-size: 16px;
	}
	.logo a img
	{
		width: 16px;
		margin-right: 7px;
	}
	.hamburger i
	{
		font-size: 18px;
	}
	.content_search svg
	{
		width: 15px;
		height: 15px;
	}
	.menu_close_container
	{
		top: 15px;
		right: 28px;
	}
	.menu_logo
	{
		margin-bottom: 17px;
	}
	.menu_logo a img
	{
		width: 28px !important;
	}
	.menu_item a
	{
		font-size: 24px;
	}
	.section_title
	{
		font-size: 21px;
	}
	.home
	{
		width: 100%;
		height: 375px;
		background: transparent;
	}
	.home_title
	{
		font-size: 24px;
	}
	.blog_post_date
	{
		top: 15px;
		left: 15px;
		width: 85px;
		height: 55px;
	}
	.blog_post_day
	{
		font-size: 24px;
	}
	.blog_post_month
	{
		font-size: 10px;
		margin-top: 1px;
	}
	.blog_post_meta_item a
	{
		font-size: 10px;
	}
	.blog_post_title a
	{
		font-size: 21px;
	}
	.footer_about_text
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	h2{font-size: 24px;}
	p{font-size: 13px;}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}